.main-container {
	margin: 10px;
	display: inline-block;
}

#grid {
	//display: inline-block;
	float: left;
	//width: 0px;
	border-width: 0;
}

.k-grid table {
	border-collapse: collapse;
}

.k-grid table.table-fixed {
	table-layout: fixed;
}

.k-grid table .k-grid-header th.k-header,
.k-grid table tbody tr td {
	border-width: 1px;
}

.k-grid tbody > tr td:first-child {
	border-left-width: 1px;
}

.k-grid .k-pager-wrap {
	padding-left: 0;
}

.table-cell-ellipsis.k-grid tr td {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
}

.table-cell-ellipsis .k-filter-row th, 
.table-cell-ellipsis .k-grid-header th.k-header {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
}

.table-cell-wrap.k-grid tr td {
	white-space: normal;
    word-wrap: normal;
}

.table-cell-wrap .k-filter-row th,
.table-cell-wrap .k-grid-header th.k-header {
    white-space: normal;
    word-wrap: normal;
}

.breakword td,
.breakword th {
	word-break: break-word;
}

/*
#grid.scrollable .k-grid-header {
   padding: 0 !important;
}

#grid.scrollable .k-grid-content {
   overflow-y: visible;
}
*/

.exclaimation-icon {
    background: url("/css/images/Icon_Exclaimation.png") no-repeat center;
    display: inline-block;
    margin-left: 10px;
    width: 12px;
    height: 16px;
    content: " ";
}

.icon {
    vertical-align: middle;
    margin-top: -2px;
}

.popupbutton {
    background: url("/css/images/sprite_icons.png") left -210px no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
}
