#container {
    width: 600px;
    height: 400px;
    display: inline-block;
}

.talk-bubble-left {
    border-top-width: 50px;
    border-top-style: solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.talk-bubble-left:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left-width: 20px;
    border-left-style: solid;
}

.talk-bubble-primary {
    border-top-color: #00CCFF;
    height: 0;
    width: 125px;
}

.talk-bubble-primary:after {
    border-left-color: #00CCFF;
    top: 13px;
    left: 125px;
}

.talk-bubble-open {
    border-top-color: red;
    height: 0;
    width: 120px;
}

.talk-bubble-open:after {
    border-left-color: red;
    top: 13px;
    left: 125px;
}


.c-label {
    position: absolute;
}